<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <%- include('../partials/navbar') %>
    <main>
      <% if (locals.errors) {%>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <%}); %>
      </ul>
      <% }%>

      <form action="/books" method="post">
        <h1><%= title %></h1>
        <label class="required" for="title">
          Title
          <input type="text" name="title" id="title" required />
        </label>

        <div class="form-row">
          <label class="required" for="authorId">
            Author
            <select name="authorId" id="authorId">
              <% authors.forEach(author => { %>
              <option value="<%= author.id%>"><%= author.author_name %></option>
              <% });%>
            </select>
          </label>

          <label class="required" for="genreId">
            Genre
            <select name="genreId" id="genreId">
              <% genres.forEach(genre => { %>
              <option value="<%= genre.id%>"><%= genre.genre_name %></option>
              <% });%>
            </select>
          </label>
        </div>

        <div class="form-row">
          <label for="pages">
            Pages:
            <input type="number" name="pages" id="pages" />
          </label>

          <label for="releaseDate">
            Release date:
            <input type="date" name="releaseDate" id="releaseDate" />
          </label>
        </div>

        <label class="required" for="summary">
          Summary
          <div class="textarea-wrapper">
            <textarea name="summary" id="summary" required></textarea>
          </div>
        </label>

        <button type="submit">Submit</button>
      </form>
      <a href="/">Home</a>
    </main>

    <%-include("../partials/modal")  %>
  </body>
</html>
