<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <main>
      <h1><%= title %></h1>

      <% if (locals.errors) {%>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <%}); %>
      </ul>
      <% }%>

      <form action="/books" method="post">
        <label for="title">
          * Title
          <input type="text" name="title" id="title" required />
        </label>

        <label for="authorId">
          * Author
          <select name="authorId" id="authorId">
            <% authors.forEach(author => { %>
            <option value="<%= author.id%>"><%= author.author_name %></option>
            <% });%>
          </select>
        </label>

        <label for="genreId">
          Genre
          <select name="genreId" id="genreId">
            <% genres.forEach(genre => { %>
            <option value="<%= genre.id%>"><%= genre.genre_name %></option>
            <% });%>
          </select>
        </label>

        <label for="pages">
          Pages:
          <input type="number" name="pages" id="pages" />
        </label>

        <label for="releaseDate">
          Pages:
          <input type="date" name="releaseDate" id="releaseDate" />
        </label>
        <button type="submit">Submit</button>
      </form>

      <a href="/">Home</a>
    </main>
  </body>
</html>
