<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <main>
      <h1><%= title %></h1>

      <% if (locals.errors) {%>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <%}); %>
      </ul>
      <% }%>

      <form action="/books/<%= book.id %>?_method=PUT" method="post">
        <label for="title">
          * Title
          <input
            value="<%= book.title %>"
            type="text"
            name="title"
            id="title"
            required
          />
        </label>

        <label for="authorId">
          * Author
          <select value="<%= book.author_id %>" name="authorId" id="authorId">
            <% authors.forEach(author => { %>
            <option value="<%= author.id%>"><%= author.author_name %></option>
            <% });%>
          </select>
        </label>

        <label for="genreId">
          * Genre
          <select value="<%= book.genre_id %>" name="genreId" id="genreId">
            <% genres.forEach(genre => { %>
            <option value="<%= genre.id%>"><%= genre.genre_name %></option>
            <% });%>
          </select>
        </label>

        <label for="pages">
          Pages:
          <input
            value="<%= book.pages %>"
            type="number"
            name="pages"
            id="pages"
          />
        </label>

        <label for="releaseDate">
          Pages:
          <input
            value="<%= book.release_date %>"
            type="date"
            name="releaseDate"
            id="releaseDate"
          />
        </label>
        <button type="submit">Submit</button>
      </form>

      <a href="/">Home</a>
    </main>
  </body>
</html>
