<div class="actions-box">
  <a class="button" href="/<%= route %>/edit/<%= id %>">Edit</a>
  <a class="button" href="/<%= route %>/view/<%= id%>">View</a>

  <button
    class="danger"
    type="submit"
    onclick="openDeleteDialog('/<%= route %>/<%= id %>?_method=DELETE')"
  >
    Delete
  </button>
</div>

<!-- <form
    class="delete"
    onsubmit="/<%= route %>/<%= id %>?_method=DELETE"
    method="post"
  >
    <button class="danger" type="submit">Delete</button>
  </form> -->
