<article>
  <h2><%= author.author_name %></h2>
  <p>Bio: <%= author.bio %></p>
  <p>Nationality: <%= author.nationality %></p>
  <p>Birth Date: <%= author.birth_date%></p>
  <p>Death Date: <%= author.death_date%></p>

  <%- include("./actions", {route: "authors", id: author.id}) %>
</article>
