<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>

    <main>
      <h1><%= title %></h1>

        <%- include("partials/sections/books") %> <%-
      include("partials/sections/genres") %> <%-
      include("partials/sections/authors") %>
    </main>
  </body>
</html>
