<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <main>
      <% if (locals.errors) {%>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <%}); %>
      </ul>
      <% }%>

      <form action="/authors" method="post">
        <h1><%= title %></h1>
        <label class="required" for="name">
          Author name:
          <input type="text" name="name" id="name" maxlength="255" required />
        </label>

        <label class="required" for="bio">
          Bio:
          <textarea name="bio" id="bio" maxlength="1000" required> </textarea>
        </label>

        <label for="country">
          Country
          <select value="" name="country" id="country">
            <% countries.forEach(country => { %>
            <option value="<%= country %>"><%= country %></option>
            <% });%>
          </select>
        </label>

        <div class="form-row">
          <label for="birthDate">
            Birth:
            <input type="date" name="birthDate" id="birthDate" />
          </label>
          <label for="deathDate">
            Death (?):
            <input type="date" name="deathDate" id="deathDate" />
          </label>
        </div>
        <button type="submit">Submit</button>
      </form>

      <a href="/">Home</a>
    </main>
  </body>
</html>
