<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <main>
      <h1><%= title %></h1>

      <% if (locals.errors) {%>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <%}); %>
      </ul>
      <% }%>

      <form action="/authors/<%= author.id %>?_method=PUT" method="post">
        <label for="name">
          * Author name:
          <input
            value="<%=author.author_name%>"
            type="text"
            name="name"
            id="name"
            maxlength="255"
            required
          />
        </label>

        <label for="bio">
          * Bio:
          <textarea name="bio" id="bio" maxlength="1000" required>
            <%=author.bio%>
          </textarea>
        </label>

        <label for="country">
          Country (optional)
          <select value="<%= author.nationality %>" name="country" id="country">
            <% countries.forEach(country => { %>
            <option value="<%= country %>"><%= country %></option>
            <% });%>
          </select>
        </label>

        <label for="birthDate">
          Birth:
          <input
            value="<%= author.birth_date %>"
            type="date"
            name="birthDate"
            id="birthDate"
          />
        </label>

        <label for="deathDate">
          Death (?):
          <input
            value="<%= author.death_date %>"
            type="date"
            name="deathDate"
            id="deathDate"
          />
        </label>

        <button type="submit">Submit</button>
      </form>

      <a href="/">Home</a>
    </main>
  </body>
</html>
